{% extends "layout.html" %}
{% block content %}
<main>
    <div class="content">
        <h1>面積を求めたい台形の情報を入力してください</h1>
        <form action="/calc" method="POST"">
            <p>
                <label><span>台形の上底は？</span>
                    <input type="text" name="top" placeholder="上底">
                </label>
            </p>
            <p>
                <label><span>台形の下底は？</span>
                    <input type="text" name="bottom" placeholder='下底'>
                </label>
            </p>
            <p>
                <label><span>台形の高さは？</span>
                    <input type="text" name="height" placeholder='高さ'>
                </label>
            </p>
            <div class="calc_btn">
                <input type="submit" value='計算する'>
            </div>
        </form>
    </div>

    <div class="box">
        {% if result %}
        <p>台形の面積は</p>
        <h2 class="result"> {{result}} </h2>
        {% else %}
        <h2 class="result">数字を入力してください</h2>
        {% endif %}
    </div>
</main>
